# Secure config for OpenSSH 7.2
# based on CIS Distribution Independent Linux Benchmark v1.1.0
# ssh_scan and ssh-audit recomendations

# Port to listen.
Port 22

# Two-Factor Authentication, public-private key and password.
AuthenticationMethods publickey,password

# Ensure only approved HostKey are used
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key

# Ensure only approved Key Exchange algorithms are used
KexAlgorithms curve25519-sha256@libssh.org

# Ensure only approved Ciphers algorithms are used
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr

# Ensure only approved MAC algorithms are used
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com

# Ensure only approved HostKeyAlgorithms algorithms are used
HostKeyAlgorithms ssh-rsa,ssh-ed25519,rsa-sha2-256,rsa-sha2-512

# Ensure SSH Protocol is set to 2
Protocol 2

# Ensure SSH LogLevel is set to INFO
LogLevel INFO

# Ensure SSH X11 forwarding is disabled
X11Forwarding no

# Ensure SSH MaxAuthTries is set to 4 or less
MaxAuthTries 2

# Ensure SSH IgnoreRhosts is enabled
IgnoreRhosts yes

# Ensure SSH HostbasedAuthentication is disabled
HostbasedAuthentication no

# Ensure SSH root login is disabled
PermitRootLogin no

# Ensure SSH PermitEmptyPasswords
PermitEmptyPasswords no

# Ensure SSH PermitUserEnvironment is disabled
PermitUserEnvironment no

# Ensure SSH Idle Timeout Interval is configured
ClientAliveInterval 300
ClientAliveCountMax 0

# Ensure SSH LoginGraceTime is set to one minute or less
LoginGraceTime 60

# Ensure SSH access is limited
Match Group *,!admin User !bootstrap
    ForceCommand nologin

# Ensure SSH warning banner is configured
Banner /etc/issue.net
